.App {
  max-width: 50%;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-size: 48px;
  line-height: 0.9;
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  color: #4F4F4F;
}

.snap {
  color:  #e87bf8

}

button {
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  padding: 15px 30px;
  border-radius: 10px;
  color: #fff;
}

.large {
  width: "400px";
  font-weight: "bold";
  font-size: 50px;
  line-height: 1;
  color: #240d57;
}

input {
  border: 1px solid #f4f4f4;
  width: 700px;
  border-radius: 10px;
  padding: 25px;
  outline: none;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.full-container {
  display: flex;
  width: 100%;
  background-color: blue;
  height: 100px;
}

.logo-container {
  width: 40%;
}

.logo-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px auto auto 100px;
}

/* nav {
  width: 100%;
  height: 100px;
  background-color: blue;
} */

.nav-div {
  width: 60%;
}

.nav-links {
  float: right;
  margin-top: 40px;
}

.nav {
  text-decoration: none;
  padding-right: 50px;
  font-size: 18px;
  color: white;
}

.nav:hover,
button:hover {
  color: orange;
}

.link-list {
  display: inline;
}

.clearFix {
  display: table;
  content: "";
  clear: both;
}

.article-list-linkstyle {
  padding: 20px;
  text-decoration: none;
  color: black;
}

.card:hover {
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  transform: scale(1.1);
  z-index: 1000;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
}

.card-small:hover {
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  z-index: 1000;
  padding: 5px;
  border-radius: 20px;
  color: #fff;
}

span {
  color: blue;
}

.flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 600px;
}

.flex-child {
  margin-top: 20px;
}

.flex-child p {
  max-width: 450px;
  font-size: 20px;
  margin-bottom: 20px;
}

.display-image {
  width: 60%;
}

img {
  width: 90%;
  height: 500px;
}

input {
  width: 400px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 18px;
  padding-left: 5px;
}

textarea {
  width: 301px;
  padding-left: 5px;
  font-size: 18px;
}

.btn-submit {
  width: 310px;
  height: 50px;
  font-size: 20px;
  background: blue;
  color: white;
}




@media screen and (max-width: 690px) {

  .App {
    max-width: 70%
  }

  input {
    width: 300px;
  }

  button {
    margin-bottom: 40px;
  }
  h1 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
  }

  h2 {
    font-size: 22px;
     font-weight: 500;
  }
  
  h3, p {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {

  .App {
    max-width: 90%
  }

  .nav-div {
  width: 100%;
}

  input {
    width: 100%;
  }

  button {
    width: 90%;
    /* margin-bottom: 40px; */
  }
  h1 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
  }

  h2 {
    font-size: 22px;
     font-weight: 500;
  }
  
  h3, p {
    font-size: 16px;
  }
}




